* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}

.title {
    height: 4rem;
    background-color: blueviolet;
}

.container,
#contenedor {
    display: flex;
}

.menu {
    width: 20rem;
    height: 90vh;
}
.card {
height: 100px;
width: 100px;
}

.card h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card p {
    margin: 8px 0 0;
    color: #666;
}

.band-image {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 100px;
    height: 100px;
}