* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    background: linear-gradient(to bottom, #0e312f, #41270f);
    width: 100vw;
    height: 100vh;
    display: flex;
}

.title {
    width: 75vw;
    height: 4rem;
    background-color: rgb(187, 165, 135);
    border-radius: 10px;
    margin: 50px 0 50px 0;
}

a {
    align-items: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 2rem;
    color: antiquewhite;
    text-decoration: none;
}

#contenedor {
    background-color: rgb(187, 165, 135);
    width: 75vw;
    height: 77.8vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    border-radius: 10px;
}

.menu {
    margin: 50px;
    width: 20rem;
    min-width: 13rem;
    height: 90vh;
    border-radius: 10px;
    background-color: rgb(187, 165, 135);
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    text-align: center;
    height: 2.2rem;
    background-color: #4b3f34;
    border-radius: 10px;
    transition: 0.2s;
}

li:hover{
    transform: scale(1.2);
    background-color: #144947;

}


banda-card {
    background-color: #4b3f34;
    text-align: center;
    margin: 30px;
    height: 380px;
    width: 300px;
    border-radius: 10px;
    transition: 0.2s;
}

banda-card:hover{
    transform: scale(1.1)



}

h1 {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15vh;
    color: #3d2e1f;
    text-align: center;
    font-size: 4rem;
}