
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0e312f, #41270f);
}

.contenedor {
    background-color: rgb(187, 165, 135);
    padding: 50px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

h2 {
    margin-bottom: 20px;
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 3rem;
}


form {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 1.2rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CajaTerminos label {
    margin: auto;
}


input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: antiquewhite;
}

.CajaTerminos {
    display: flex;
    margin: 20px;
}

#terminos {
    margin: auto;
    height: 20px;
    width: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #4b3f34;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #154240;
}