* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    width: 100vw;
}

.menu {
    display: none;
}

#nav {
    width: 100vw;
    height: 7vh;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

.contenedor {
    display: flex;
    text-align: center;
    height: 80vh;
    width: 100vw;
}

.CajaTitulo {
    width: 50vw;
    height: 80vh;
}

h1 {
    width: 50vw;
    height: 40vh;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    25% {
        top: 0%;
    }

    75% {
        top: 0%;
    }

    100% {
        top: -100%;
    }
}

.ContenedorCartas {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CajaCartas {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px ;

}

.Cartas {
    background-color: red;
    width: 400px;
    height: 400px;
    position: absolute;
    animation: scroll 5s linear infinite;
}