* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    background: linear-gradient(to bottom, #0e312f, #41270f);
    width: 100vw;
    height: 100vh;

}

.menu {
    display: none;
}


#nav {
    width: 85vw;
    height: 5rem;
    background-color: rgb(187, 165, 135);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.contenedor {
    display: flex;
    text-align: center;
    height: 80vh;
    width: 100vw;
}

.CajaTitulo {
    width: 50vw;
    height: 80vh;
}

.caja-H1 {
    margin-left: 7.3vw;
    margin-top: 4vw;
    width: 40vw;
    height: 30vh;
    background-color: rgb(187, 165, 135);
    border-radius: 10px;
}

.Caja-parrafo {
    margin-left: 7.3vw;
    margin-top: 4vw;
    width: 40vw;
    height: 30vh;
    background-color: rgb(187, 165, 135);
    border-radius: 10px;
    font-size: 2rem;
}



.ContenedorCartas {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CajaCartas {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.Cartas {
    background-color: rgb(187, 165, 135);
    width: 400px;
    height: 400px;
    position: absolute;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    25% {
        top: 0%;
    }

    75% {
        top: 0%;
    }

    100% {
        top: -100%;
    }
}